@page
@model HotelsModel
@{
    ViewData["Title"] = "Hotels page";

}

@section Head {
}

<body>
    <div class="filter-container">
        <form method="get">
            <div class="form-group">
                <label for="cityFilter">Filter by City:</label>
                <select id="cityFilter" name="SelectedCityId" class="form-control" onchange="this.form.submit()">
                    <option value="">- Select City -</option>
                    @foreach (var city in Model.Cities)
                    {
                        var selected = city.CityId == Model.SelectedCityId ? "selected" : "";
                        <option value="@city.CityId" selected="@selected">@city.Name</option>
                    }
                </select>
            </div>
        </form>
    </div>
    <div class="card-container">
        @foreach (var hotel in Model.Hotels)
        {
            <div class="card">
                <a class="text-dark" asp-page="/Rooms" asp-route-hotelId="@hotel.HotelId">
                    <div class="card-header  text-black">
                        @hotel.Name
                    </div>
                    <div class="card-body">
                        <p><strong>City:</strong> @hotel.City.Name</p>
                        <img src="@hotel.PhotoUrl" alt="Room Photo" />
                    </div>
                </a>
            </div>
        }
    </div>
</body>