@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<section>
    <h2>Welcome To Favorites</h2>
    <div class="card-container">
        @foreach (var room in Model.FavoriteRooms)
        {
            <div class="card p-3">
                <a asp-page="/Rooms" asp-route-hotelId="@room.Hotel!.HotelId">
                    <div>
                        <img src="@room.PhotoUrl" class="card-img-top" alt="Room Photo">
                        <div class="card-body">
                            <h5 class="card-title">@room.Hotel!.Name - Room @room.RoomNumber</h5>
                            <p class="card-text">Unit Price: @room.UnitPrice$</p>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</section>