@page
@model Hotels.Pages.RoomsModel
@{
    ViewData["Title"] = "Rooms page";
}

@section Head {
    <style>

    </style>
}

<section>
    <h1>Hotel Rooms</h1>
    <div class="room-container my-3 ">
        @foreach (var room in Model.Rooms)
        {
            <div class="room-card">
                <form method="post">
                    <div class="d-flex justify-content-between">
                        <h2>@room.RoomNumber</h2>
                        <button class="FavButton border-0 onclick="toggleFavorite(@room.RoomId)"">
                            <i class="favIcon pointer fa-regular fa-star @(room.IsFavorite ? "isFavorite" : "") "></i>
                        </button>
                        <input type="hidden" asp-for="RoomId" value="@room.RoomId" />
                    </div>
                </form>
                <div class="d-flex justify-content-between pb-2">
                    <p>Price: @room.UnitPrice$</p>
                    <a class="btn btn-success" asp-page="/BookingForm" asp-route-hotelId="@room.RoomId">Book</a>
                </div>
                <span class="d-flex">@room.RoomType!.TypeName</span>
                <img src="@room.PhotoUrl" alt="Room Photo" />
            </div>
        }
    </div>

</section>
<script>
    document.querySelectorAll('.favIcon').forEach(function (icon) {
        icon.addEventListener('click', function () {
            this.classList.toggle('isFavorite');
            const roomId = this.getAttribute('data-room-id');
            const isFavorite = this.classList.contains('isFavorite');
            saveFavoriteState(roomId, isFavorite);
        });
    });

    document.addEventListener('DOMContentLoaded', loadFavoriteState);
</script>