@page
@model Hotels.Pages.RoomsModel
@{
    ViewData["Title"] = "Rooms page";
}

@section Head {
    <style>

    </style>
}

<section>
    <h1>Hotel Rooms</h1>

    <form method="post">
        <div class="d-flex flex-column gap-3">
            <select id="RoomType" name="RoomType" asp-for="RoomType" class="form-control">
                <option value="">All</option>
                @foreach (var type in Model.RoomTypes)
                {
                    <option value="@type">@type</option>
                }
            </select>
            <div class="col-3">
                <input class="form-control" type="number" asp-for="MinPrice" value="@Model.MinPrice" placeholder="enter min price" />
            </div>
            <div class="col-3">
                <input class="form-control" type="number" asp-for="MaxPrice" value="@Model.MaxPrice" placeholder="enter max price" />
            </div>
            <div>
            </div>
        </div>
        <button class="btn btn-success border-2" type="submit">Search</button>
    </form>
    <form asp-page-handler="ButtonClick" method="post">
        <input type="hidden" name="hotelId" value="@Model.HotelId" />
        <button class="btn btn-outline-primary my-2" type="submit">Clear Filters</button>
    </form>


    <div class="card-container">
        @if (Model.Rooms.Any())
        {
        @foreach (var room in Model.Rooms)
        {
            if (!room.IsBooked)
            {
                <div class="card p-3">
                    <form method="post">
                        <div class="d-flex justify-content-between">
                            <h2>Room N:@room.RoomNumber</h2>
                            <button class="FavButton border-0">
                                <i class="favIcon pointer fa-regular fa-star @(room.IsFavorite ? "isFavorite" : "") "></i>
                            </button>
                            <input type="hidden" asp-for="RoomId" value="@room.RoomId" />
                        </div>
                    </form>
                    <div class="d-flex justify-content-between pb-2">
                        <p>Price: @room.UnitPrice$</p>
                        <a class="btn btn-success" asp-page="/BookingForm" asp-route-hotelId="@room.HotelId" asp-route-roomId="@room.RoomId" asp-route-price="@room.UnitPrice">Book</a>
                    </div>
                    <span class="d-flex pb-2">@room.RoomType?.TypeName</span>
                    <img src="@room.PhotoUrl" alt="Room Photo" />
                </div>
            }
            }
        }
        else
        {
            <span>
                There is not rooms to display
            </span>
        }
    </div>

</section>
<script>
    document.querySelectorAll('.favIcon').forEach(function (icon) {
        icon.addEventListener('click', function () {
            this.classList.toggle('isFavorite');
            const roomId = this.getAttribute('data-room-id');
            const isFavorite = this.classList.contains('isFavorite');
            saveFavoriteState(roomId, isFavorite);
        });
    });

    document.addEventListener('DOMContentLoaded', loadFavoriteState);
</script>